@keyframes scrollBg {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-330px);
    }
    100% {
        transform: translateY(0px);
    }
}

.scroll-bg {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    padding-bottom: 330px;
    background-color: #E8BA9B;
    background-image: url('/funcionalidades/image.jpg');
    background-size: cover;
    animation: scrollBg 35s linear infinite;
}
/********************/
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    background-color: #0a0a0a;
    color: #4caf50;
}

.container {
    max-width: 800px;
    margin: auto;
    background: rgba(26, 26, 26, 0.7);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1, h2 {
    color: #4caf50;
    text-align: center;
    text-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

.input-section, .button-section, .output-section {
    margin-bottom: 20px;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 0px;
    margin-bottom: 10px;
    background-color: #0a0a0a;
    border: 1px solid #4CAF50;
    color: #4CAF50;
    font-family: 'Courier New', monospace;
    resize: vertical;
}

button, .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4caf50;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    margin-right: 10px;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
}

button:hover, .button:hover {
    background-color: #45a049;
    color: #fff;
}

#output {
    background-color: #0a0a0a;
    border: 1px solid #4CAF50;
    border-radius: 5px;
    padding: 10px;
    white-space: pre-wrap;
    color: #4CAF50;
}

/*Boton copiar*/
.output-section {
    position: relative; /* A침adimos posici칩n relativa para que el bot칩n se posicione correctamente */
}

.copy-button {
    position: absolute;
    bottom: 10px;
    right: 0px;
    padding: 5px 10px;
    background-color: #4caf50;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    display: none; /* Ocultamos el bot칩n por defecto */
}

.copy-button:hover {
    background-color: #45a049;
    color: #fff;
}




