@keyframes scrollBg {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-330px);
    }
    100% {
        transform: translateY(0px);
    }
}

.scroll-bg {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    padding-bottom: 330px;
    background-color: #E8BA9B;
    background-image: url('/funcionalidades/image.jpg'); /* Ajusta la ruta de la imagen según tu estructura */
    background-size: cover;
    animation: scrollBg 35s linear infinite;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
    background: rgba(26, 26, 26, 0.7);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1, h2 {
    color: #4caf50;
    text-align: center;
    text-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

textarea, input[type="text"] {
    width: 100%;
    padding: 0px;
    margin-bottom: 20px;
    background-color: #0a0a0a;
    border: 1px solid #4CAF50;
    color: #4CAF50;
    font-family: 'Courier New', monospace;
    resize: vertical;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background: #4caf50;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background: #45a049;
    color: #fff;
}

#resultado {
    margin-top: 20px;
    padding: 10px;
    background: #0a0a0a;
    border: 1px solid #4CAF50;
    border-radius: 5px;
    color: #4CAF50;
}
